node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Prettier ignore
package-lock.json
yarn.lock
